.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.ratingInput {
  width: 20%;
}

.backBtn {
  display: flex;
  justify-content: left;
  margin-left: 20px;
}

.nextBtn {
  margin-left: 20px;
}

.feedback-table {
  margin: auto;
}

nav > ul {
  list-style-type: none;
  margin: 10px auto;
  width: 700px;
  padding: 0;
}

nav > ul li {
  display: inline-block;
  text-align: center;
  width: 100px;
}

nav > ul li a {
  display: block;
  padding: 5px;
  color: white;
}